* {
    font-size: medium;
    line-height: 1.75em;
    word-wrap: break-word;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
    font-family: Menlo, monospace, sans-serif;
}

@media screen {
    body {
        margin: 0;
    }
}

html {
    color: #ccc;
    margin: 1.75em 0;
    background-color: #222;
}

body {
    margin: 0 8em;
    padding: 0 1em;
    max-width: 50em;
}

strong {
    color: #fff
}

h1 {
    margin: 0;
    padding: 1em 0;
    overflow: hidden;
    position: relative;
    display: table-cell;
}

h1:after {
    left: 0;
    bottom: 0;
    position: absolute;
    content: "================================================================================";
}

h2 {
    margin: 0;
    padding: 0.5em 0 0.5em;
}

p {
    padding: 0.5em 0;
    margin: 0 0 0.5em;
}

a {
    color: #ccc;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 0.1em solid #009e60;
}

a:hover {
    color: #fff;
    background-color: #009e60;
}

a[itemprop=url] {
    color: #f6a516;
}

a[itemprop=url]:hover {
    color: #fff;
}

code {
    margin: 1.75em;
    line-height: 1.75em;
}

ol,
ul {
    margin: 0;
    padding-left: 1em;
}

table {
    width: 100%;
    margin: 1em 0;
    border-collapse: collapse;
}

table td,
table th {
    padding: 0.1em 0.1em;
    vertical-align: top;
    border: 0.1em solid #444;
}

blockquote {
    margin: 0;
    color: #999;
    overflow: hidden;
    padding-left: 1em;
    position: relative;
    font-style: italic;
}

blockquote:after {
    top: 0;
    left: 0;
    line-height: 1em;
    white-space: pre;
    position: absolute;
    content: ">\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>";
}

hr {
    border: 0;
    height: 1em;
    margin: 1em 0;
    overflow: hidden;
    position: relative;
}

hr:after {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    content: "-----------------------------------------------------------------------------------";
}

.date {
    color: #999;
}

.image {
    width: 17.75em;
}

.figure {
    margin: 0.5em 0 0.5em;
    padding: 0;
}

.gallery {
    display: grid;
    grid-template-columns: 18.75em 18.75em 18.75em;
}

.center-image {
    width: 100%;
}

.center-caption {
    font-weight: bold;
    text-align: center;
}
