* {
    font-size: medium;
    line-height: 33px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    text-rendering: geometricPrecision;
    font-family: Menlo, monospace, sans-serif;
}

html {
    color: #ccc;
    margin: 15px 0;
    background-color: #28282B;
}

body {
    margin: 0 60px;
    max-width: 1000px;
    -webkit-font-smoothing: antialiased;
}

strong {
    color: #fff
}

pre {
    overflow: auto;
    border-radius: 5px;
    padding: 5px 9px 7px;
    border: 1px solid #f6a516;
}

h2 > code {
    border-radius: 3px;
    padding: 3px 7px 5px;
    border: 1px solid #f6a516;
}

blockquote {
    margin: 0;
    font-style: italic;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(54, 69, 79, 0.3);
    border-left: 5px solid rgba(54, 69, 79, 1);
}

h1 {
    margin: 0;
    padding: 15px 0;
    overflow: hidden;
    position: relative;
    display: table-cell;
}

h1:after {
    left: 0;
    bottom: 0;
    position: absolute;
    content: "====================================================================================================";
}

h2 {
    margin: 0;
    padding: 10px 0 10px;
}

p {
    padding: 5px 0;
    margin: 0 0 5px;
    text-indent: 30px;
}

a {
    color: #ccc;
    margin: 0 2px;
    cursor: pointer;
    padding: 2px 0;
    text-decoration: none;
    border-bottom: 2px solid #009e60;
}

a:hover,
a.active {
    color: #fff;
    background-color: #009e60;
}

a[itemprop=url] {
    color: #f6a516;
    font-weight: bold;
}

a[itemprop=url]:hover,
a[itemprop=url].active {
    color: #fff;
}

ol {
    margin: 0;
    padding-left: 20px;
}

ul {
    margin: 0;
    padding-left: 30px;
}

ol {
    counter-reset: list;
}

ol > li {
    list-style: none;
}

ol > li:before {
    counter-increment: list;
    content: counter(list) ") ";
}

li > h2 {
    display: inline-block;
}

table {
    width: 960px;
    margin: 10px 0;
    border-collapse: collapse;
}

table td,
table th {
    padding: 5px 5px;
    vertical-align: top;
    border: 2px solid #444;
}

hr {
    border: 0;
    height: 20px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
}

hr:after {
    top: 0;
    left: 0;
    width: 1000px;
    position: absolute;
    content: "----------------------------------------------------------------------------------------------------";
}

.date {
    color: #999;
    padding-left: 15px;
}

.image {
    width: 305px;
}

.caption {
    padding-left: 5px;
}

.figure {
    padding: 0;
    margin: -5px 0;
}

.gallery-start {
    display: grid;
    grid-template-columns: 320px 320px 320px;
}

.gallery-end {
    margin: -30px 0;
}

.center-figure {
    padding: 10px 40px 0;
    margin: 10px 40px -30px;
}

.center-image {
    width: 770px;
}

.center-caption {
    width: 770px;
    font-weight: bold;
    text-align: center;
}

.letter {
    width: 180px;
}

.kana-start {
    display: grid;
    grid-template-columns: 195px 195px 195px 195px 195px;
}

.kana-end {
    margin: -30px 0;
}

.char {
    font-size: 80px;
    text-align: center;
}

.kanji-start {
    display: grid;
    padding-top: 20px;
    grid-template-columns: 98px 98px 98px 98px 98px 98px 98px 98px 98px 98px;
}

.kanji-end {
    margin: -50px 0;
}

.char-caption {
    padding-top: 10px;
    padding-left: 5px;
    margin-bottom: 50px;
}
