* {
    font-size: medium;
    line-height: 33px;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
    font-family: Menlo, monospace, sans-serif;
}

html {
    color: #ccc;
    margin: 15px 0;
    background-color: #222;
}

body {
    margin: 0 80px;
    max-width: 1000px;
}

strong {
    color: #fff
}

h1 {
    margin: 0;
    padding: 15px 0;
    overflow: hidden;
    position: relative;
    display: table-cell;
}

h1:after {
    left: 0;
    bottom: 0;
    position: absolute;
    content: "====================================================================================================";
}

h2 {
    margin: 0;
    padding: 10px 0 10px;
}

p {
    padding: 5px 0;
    margin: 0 0 5px;
    text-indent: 30px;
}

a {
    color: #ccc;
    margin: 0 2px;
    padding: 2px 0;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid #009e60;
}

a:hover {
    color: #fff;
    background-color: #009e60;
}

a[itemprop=url] {
    color: #f6a516;
}

a[itemprop=url]:hover {
    color: #fff;
}

ol,
ul {
    margin: 0;
    padding-left: 30px;
}

ol {
    counter-reset: list;
}

ol > li {
    list-style: none;
}

ol > li:before {
    counter-increment: list;
    content: counter(list) ") ";
}

li > h2 {
    display: inline-block;
}

table {
    width: 890px;
    margin: 10px 0;
    border-collapse: collapse;
}

table td,
table th {
    padding: 5px 5px;
    vertical-align: top;
    border: 2px solid #444;
}

blockquote {
    margin: 0;
    color: #999;
    overflow: hidden;
    padding-left: 18px;
    position: relative;
    font-style: italic;
}

blockquote:after {
    top: 0;
    left: 0;
    white-space: pre;
    line-height: 40px;
    position: absolute;
    content: ">\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>";
}

hr {
    border: 0;
    height: 20px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
}

hr:after {
    top: 0;
    left: 0;
    width: 1000px;
    position: absolute;
    content: "----------------------------------------------------------------------------------------------------";
}

.date {
    color: #999;
    padding-left: 15px;
}

.image {
    width: 285px;
}

.caption {
    padding-left: 5px;
}

.figure {
    margin: -5px 0;
    padding: 0;
}

.gallery-start {
    display: grid;
    grid-template-columns: 300px 300px 300px;
}

.gallery-end {
    margin: -30px 0;
}

.center-figure {
    margin: 10px 30px -30px;
    padding: 10px 30px 0;
}

.center-image {
    width: 770px;
}

.center-caption {
    font-weight: bold;
    text-align: center;
    width: 770px;
}
