{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

    <head>
        {% if page %}
        <title>{{ page.title }}</title>
        {% else %}
        <title>{{config.title}}</title>
        {% endif %}

        <meta name="author" content="{{config.author}}">
        <meta name="description" content="{{config.description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <link rel="stylesheet" href="{{config.base_url}}/style.css">
        <link rel="icon" type="image/x-icon" href="{{config.base_url}}/icons/favicon.ico">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{{config.base_url}}/atom.xml">
        <link rel="icon" type="image/png" sizes="16x16" href="{{config.base_url}}/icons/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{config.base_url}}/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="180x180" href="{{config.base_url}}/icons/apple-touch-icon.png">
    </head>

    <body>
        {% block body %}

        {% block header %}
        <header>
            <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                <a itemprop="url" href="{{config.base_url}}" {% if current_path == '/' %} class="active" {% endif %}><span>Home</span></a>
                <a itemprop="url" href="{{config.base_url}}/bmb/" {% if current_path == '/bmb/' %} class="active" {% endif %}><span>Background</span></a>
                <a itemprop="url" href="{{config.base_url}}/lmc/" {% if current_path == '/lmc/' %} class="active" {% endif %}><span>Codebase</span></a>
                <a itemprop="url" href="{{config.base_url}}/flr/" {% if current_path == '/flr/' %} class="active" {% endif %}><span>Resources</span></a>
                <a itemprop="url" href="{{config.base_url}}/fpl/" {% if current_path == '/fpl/' %} class="active" {% endif %}><span>Languages</span></a>
                <a itemprop="url" href="{{config.base_url}}/fpb/" {% if current_path == '/fpb/' %} class="active" {% endif %}><span>Blogs</span></a>
                <a itemprop="url" href="{{config.base_url}}/fvg/" {% if current_path == '/fvg/' %} class="active" {% endif %}><span>Games</span></a>
                <a itemprop="url" href="{{config.base_url}}/fcq/" {% if current_path == '/fcq/' %} class="active" {% endif %}><span>Quotes</span></a>
                <a itemprop="url" href="{{config.base_url}}/fps/" {% if current_path == '/fps/' %} class="active" {% endif %}><span>Speeches</span></a>
                <a itemprop="url" href="{{config.base_url}}/fcr/" {% if current_path == '/fcr/' %} class="active" {% endif %}><span>Recipes</span></a>
                <a itemprop="url" href="{{config.base_url}}/tags/" {% if current_path == '/tags/' %} class="active" {% endif %}><span>Tags</span></a>
                <a itemprop="url" href="{{config.base_url}}/types/" {% if current_path == '/types/' %} class="active" {% endif %}><span>Types</span></a>
            </nav>
        </header>
        {% endblock header %}

        <main>
            <header>
                <h1>tensorush</h1>
            </header>

            {% for page in paginator.pages %}
            {{ macros::entry(page=page) }}
            {% endfor %}
        </main>

        {% endblock body %}
    </body>

</html>
