{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

    <head>
        {% if page %}
        <title>{{ page.title }}</title>
        {% else %}
        <title>tensorush</title>
        {% endif %}

        <meta name="author" content="Jora Troosh">
        <meta name="description" content="{{config.description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <link rel="stylesheet" href="{{config.base_url}}/site.css">
        <link rel="icon" type="image/x-icon" href="{{config.base_url}}/icons/favicon.ico">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{{config.base_url}}/atom.xml">
        <link rel="icon" type="image/png" sizes="16x16" href="{{config.base_url}}/icons/favicon-16x16.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{config.base_url}}/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="180x180" href="{{config.base_url}}/icons/apple-touch-icon.png">
    </head>

    <body class="hack dark main container">
        {% block body %}

        {% block header %}
        <header>
            <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                <a itemprop="url" href="{{config.base_url}}"><span itemprop="name">Home</span></a>
                <a itemprop="url" href="{{config.base_url}}/about/"><span itemprop="name">About</span></a>
                <a itemprop="url" href="{{config.base_url}}/blogs/"><span itemprop="name">Blogs</span></a>
                <a itemprop="url" href="{{config.base_url}}/categories/"><span itemprop="name">Categories</span></a>
                <a itemprop="url" href="{{config.base_url}}/tags/"><span itemprop="name">Tags</span></a>
            </nav>
        </header>
        {% endblock header %}

        <main>
            <header>
                <h1>tensorush</h1>
            </header>

            {% for page in paginator.pages %}
            {{ macros::entry(page=page) }}
            {% endfor %}
        </main>

        {% endblock body %}
    </body>

</html>
