{{>head.html}}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">{{title}}</h1>
        <span class="muted">{{#date}}{{b}} {{e}}, {{y}}{{/date}}</span>
    </header>

    <div itemprop="articleBody">{{content}}</div>

    <section class="gallery">{{#pictures}}
        <a class="thumbnail" href="{{permalink}}">
            <figure class="small-figure">
                <picture>
                    <source type="image/jpeg" srcset="{{url}}/{{assets}}/images/{{file}}.jpg">
                    <img class="gallery-photo" alt="{{alt}}" src="{{url}}/{{assets}}/images/{{file}}.jpg" />
                </picture>
                <figcaption class="gallery-caption">{{caption}}</figcaption>
            </figure>
        </a>
        {{/pictures}}
    </section>

    <footer>
        <hr>
        <p>
            {{#taxonomies}}
            {{#authors}}Published by <a href="https://github.com/{{name}}">{{name}}</a>{{/authors}}
            {{#categories}} in <a href="{{#site}}{{url}}{{/site}}/categories/{{name}}">{{name}}</a>{{/categories}}
            tagged {{#tags}}<a href="{{#site}}{{url}}{{/site}}/tags/{{name}}">{{name}}</a> {{/tags}}
            {{/taxonomies}}
        </p>
    </footer>
</article>
{{>giscus.html}}
{{>foot.html}}
